.header {
  width: 100%;
  margin: 0 auto 10px;
  padding: 5px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #09203F 0%, #537895 100%);
  text-align: center;
  color: #FFFFFF;
}

.header h1 {
  margin: 0;
}

.todos-counter {
  display: block;
  margin: 0 auto;
  width: 50%;
  color: #41464b;
  background-color: #e2e3e5;
  border-radius: 5px;
  font-size: 12px;
}